body {
  margin: 0;
  padding: 0;
  font-family: 'Podkova', serif;

}


.sectionForPutProductOnAuction {
  display: inline-block;
    width: 100%;
    margin-left: 20px;
    border-radius: 4px;
    background-color: white ;
    padding: 20px ;
    
}


.currentAuctioonDiv{
  box-shadow: 1px 1px 1px 1px #DCDCDC ; 
  margin-left: 30px
}
.descForProductOnAuction{
  margin-left: 16px
}

.totalBackGround{
  background-color: rgb(247 , 247 , 247);
}


#panelDivHome{ 
   text-align: center;
}

.CategoryDiv{
  background-color: white ;
  box-shadow: 1px 1px 1px 1px #DCDCDC ; 

}

.sharpButton{
  border-radius : 0px;
}

#panelMargin{
  margin:20px
}

.registrationDiv{
  margin-left: 25px
}

#usernameExistDiv{
  
   padding-top:10px; 
   font-size:85%
}

.padd {
  padding: 10px;
  }


  .topPadd {
  padding: 20px;
  }


.text-red{
  color: red
}

.text-green{
  color : green
}

#panelDivHome{ 
   text-align: center;
}

.font-20{
  font-size:20px
}

  .margin15{
    margin-left: 15px
  }
  
   .padd {
  padding: 15px 100 100 100 ;
  color : #333;
  border : none;
  
  }
  
  .foo {
   
    display: block;
    max-width: 235px;
    float: left;
    height: auto ;
    margin: 0px
  }
  
  .rightDiv{
   
    position: relative;
    min-height:50px;
     float: left;
  }

  .sectionattr{
    display: inline-block;
    width: 100%;
    border-radius : 4px ;
    
  }
  
  .ulattr{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-left: 50px ; 
    width: 100%;
  }
  
  .divForImage{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 140px;
    border-radius : 3px
  }
  
  .imageAttr{
    width: 100px;
    height: 100px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .liAttr{
    padding: 20px;
    background-color: white ;
    min-width: 700px ;
    margin-bottom: 10px ;
    box-shadow: 1px 1px 1px 1px #DCDCDC ; 
  }

  .textColorBlack{
    color : #333; 
  }

  .headingLeftPanel{
    color : #333; 
    margin-top: 20px ;
    margin-left: 25px
  }

  .displayNone{
    display: none
  }

  .content-section{
    margin-left: 30px ;
    margin-right: 30px
  }
  
  .addProductDiv{
    
    margin-left: 235px ;
    max-width: 800px;
  }

  .addProductChildDiv{
    margin-left: 20px ;
    background-color: white ;
    padding-top: 20px ;
    padding-bottom: 20px ;
    box-shadow: 1px 1px 1px 1px #DCDCDC ; 

  }

  .outline{
   
    margin-top: 15px
  }


  .margin30{
    margin-left: 15px ;
    margin-top: 45px
  }

  .divForLiveAuctionimageAttr{
    width: 25%;
    min-width: 350px;
    height: available;
    float: left;
    border-collapse: collapse;
  }

  .divForLiveAuctionImage{
    width: 25%;
    min-width: 320px;
    height: available;
    min-height: 400px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForAuctionInfo{
    width: 50%;
    min-width: 600px;
    height: available;
    min-height: 400px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForGraph{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: right;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForRemainingLots{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 110px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForBidOption{
    width: 50%;
    min-width: 600px;
    height: available;
    min-height: 110px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForMetrix{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 110px;
    float: right;
    border: 1px solid #ddd;
    border-radius : 3px
  }

  .PutOnAuctionDiv{
    margin-left: 250px ; 
    background-color : white;
  }


  .LiveAucionMainDiv{
    background-color: white ; 
    min-height : 300px;
    min-width:  200px ;
    padding: 20px ;
    font-size: 25px;
    font-weight: inherit;
  }


.LiveAucionMainDiv2{
    background-color: white ; 
    min-height : 300px;
    max-width:  200px ;
padding-top: 20px ;
    
    font-weight: inherit;
  }

.LiveAucionMainDiv2 .name{
  font-size: 25px
}

.LiveAucionMainDiv2 .desc{
  color : lightgrey;
  
}

.LiveAucionMainDiv2Category{
  margin-top: 20px ; 
  color: darkblue ;
  margin-bottom: 20px
}



  .LiveAucionStatusDiv{
     background-color: white ; 
      border-left: 1px solid #e4e5ea;
      min-height : 500px;
      min-width:  350px ;
      padding: 20px ;
      overflow-y:scroll;
  }

  .backGroundWhite{
    background-color: white
  }

  .mainAuctionImage{
    width: 200px ;
    height: 200px;
    border-radius: 5% ;
    margin-left: 20px;
    margin-top: 5px;
  } 


 

  .individualAuctionGlyph{
    margin-right: 35px
  }


  .dollarSign{
    margin-right: 2px
  }

  .submittedSuctionDate{
    margin-left: 45px
  }

  .bidPriceTextBox{
    margin-top: 30px ; 
    max-width: 120px ; 
    margin-right: 10px ;
    border: 0px;
    border-bottom: 1px solid #d8d8d8;
    
    line-height: 18px;
    padding-bottom: 3px;
    outline: none;
    font-size: 14px ;
    color : darkcyan;
    font-weight: normal
  }

  .login-close{
    margin-left: 90px;
  }

  .login{

  }

  .putonAuctionButtonDiv{
    border-left: 1px solid #e4e5ea;
    height: 100px
  }



  .auctionImage{
    font-size: 2.5em ;
        margin-left: 60px;
    margin-top: 35px
  }

  .DivForImageInfo .DivForImageInfoName{
        font-size: 20px;
    font-weight: normal ;
    color : darkcyan;
    padding: 0
  }



.rightHandFa{
  color: darkcyan ;
  margin-right: 10px
}

 .ImageDescription{
      color : lightgrey;
      font-size: 13px
  }


  .DivForImageInfo .ImageCategory{
       margin-top: 31px ; 
      font-size: 15px ; 
      color: darkcyan
  }


.cross{

    font-size: 1.3em;
    color: palevioletred;
}



.AuctionPriceDiv {
  margin-top: 10px ; 
  margin-left: 20px ;
  color: darkcyan
}

.auctionPrice{
  color: darkcyan ; 
  font-weight: normal
}

.noOfBids{
  font-size: 15px ;
  margin-top: 10px  ;
}


.allProductsDiv{
  
  width : 900px;
  height: 350px ; 
  margin-left: 50px
}


.singleProductDiv{
  box-shadow: 1px 1px 1px 1px #DCDCDC ; 
  width: 220px ; 
  height: 305px ;
  background-color: white ;
  margin-bottom: 40px ; 
  margin-right : 80px;
}

.singleImageDiv{
  padding-top: 10px ; 
  margin-left: 20px
}




.DivForSingleImageAllAuction .DivForImageInfoName{
    margin-top: 20px ; 
    font-size: 20px;
    font-weight: normal ;
    color : darkcyan;
    padding: 0 ;
    margin-left: 20px ;
    margin-bottom: 10px
  }


.DivForSingleImageAllAuction{
  padding : 0;
}



.singleImageAuctioned{
    width: 150px;
    height: 150px;
    
  }


  .rightDivForAllProducts{
    margin-left: 250px ; 
  }


.loginModal{
  margin-top: 30px ;
  margin-left: 200px
}



.loginTextModal{
  border-right: 1px solid#888;
  height: 200px;
    width: 150px;
}


.loginHeading{
  float: left;
    margin-top: 70px;
    font-size: 24px;
}



.registerTextModal{
  border-right: 1px solid#888;
  height: 330px;
    width: 150px;
}


.RegisterHeading{
  float: left;
    margin-top: 0px;
    font-size: 24
}

.273Heading{
      margin-top: 10px
}



.auction-main-div{
   
    position: relative;
    min-height:50px;
     float: left;
     margin-left: 250px
     min-height300px ; 
     margin-left: 100px ;
     background-color: white ;
  }


 .auction-main-div .auction-main-div-container{
  width : 750px
 }


 .auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv{
  padding: 0 ; 
  margin-bottom: 20px ; 
 }

.auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv .bid-action-div {
  margin-left: 30px ;
  margin-top: 30px ; 
}

.auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv .bid-action-div .bid-action-div-content .current-max-bid-div{
  margin-left: 30px ;
  color : darkcyan;
  font-size: 15px ;

}


.auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv .bid-action-div .bid-action-div-content .bid-suggestion{
  margin-left: 13px ; 
  font-size: 12px ;
  color : darkcyan;
}


.auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv .bid-action-div .bid-action-div-content .shipping{
 
  font-size: 16px ;
  color : darkcyan;
  width : 200px;
  margin-top: 40px ; 
  border-top : 1px solid #d8d8d8;
  text-align: center;


}


 .auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv2{
   padding-left: 0 ;
   padding-right: 0 ;
   padding-top: 5px

 }

.auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv2 .name{
  font-size: 20px ; 
  color: darkcyan
}

.auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv2 .desc{
  font-size: 13px ; 
  color: darkcyan ;
}


 .auction-main-div .auction-main-div-container  .auction-main-div-container-subdiv3{
   padding-left: 0 ;
   padding-right: 0 ;
   background-color: white ; 
      border-left: 1px solid #e4e5ea;
      max-height : 500px;
      overflow-y:scroll;
      color: darkcyan
 }


 .individualAuctionDiv{
    border-bottom: 1px solid #d8d8d8;
    padding: 10px
  }



 .individualAuctionDiv .offer-timestamp{
    
    width : 70px;
    outline: none;
     border: 0px;
  }


.bidImage{
  margin-right: 7px ;
  border-radius: 50%
}





.banner {
  margin-top: -25px;
  background:url(./assets/banner.jpg)no-repeat 0px bottom;
  -webkit-background-size:cover;
   background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 -ms-background-size:cover;
  min-height:799px;
}

.banner-text {
  padding-top: 100px;
  width: 40%;
  margin: 0px auto;
  text-align: center;
  font-family: serif;
}
.banner-text h2.bnr-title {
  color: #24FFED;
  font-size: 7em;
}
.banner-text p {
  font-size: 1em;
  color: #fff;
  margin-top: 1.5em;
  letter-spacing: 3px;
  line-height: 1.8em;
  font-family: 'Roboto', sans-serif;
}

/*--button--*/
.button {
  display: inline-block;
  margin: 2em 0 0;
  padding: 1em 2.1em;
  border: none;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  background: #24FFED;
  color: #000;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
-moz-transition: color 0.3s;
}
.button::before,
.button::after {
content: '';
position: absolute;
height: 100%;
width: 100%;
bottom: 100%;
left: 0;
z-index: -1;
-webkit-transition: -webkit-transform 0.3s;
transition: transform 0.3s;
-moz-transition: transform 0.3s;
-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button::before {
background: #F6AFB4;
}
.button::after {
background: #ef717a;
}
.button:hover {
color: #fff;
}
.button:hover::before,
.button:hover::after {
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
-moz-transform: translate3d(0, 100%, 0);
-o-transform: translate3d(0, 100%, 0);
-ms-transform: translate3d(0, 100%, 0);
}
.button:hover::after {
-webkit-transition-delay: 0.175s;
transition-delay: 0.175s;
-moz-transition-delay: 0.175s;
}

