body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  

}


.sectionForPutProductOnAuction {
  display: inline-block;
    width: 100%;
    margin-left: 20px;
    border-radius: 4px;
    background-color: white ;
    padding: 20px
}



.totalBackGround{
  background-color: rgb(247 , 247 , 247);
}
#panelDivHome{ 
   text-align: center;
}

.CategoryDiv{
  background-color: white
}

.sharpButton{
  border-radius : 0px;
}

#panelMargin{
  margin:20px
}

#registrationdiv{
  style=margin:5px
}

#usernameExistDiv{
  border-top: 1px solid#888;
   padding-top:15px; 
   font-size:85%
}

.padd {
  padding: 10px;
  }


  .topPadd {
  padding: 20px;
  }


.text-red{
  color: red
}

.text-green{
  color : green
}

#panelDivHome{ 
   text-align: center;
}

.font-20{
  font-size:20px
}

  .margin15{
    margin-left: 15px
  }
  
   .padd {
  padding: 15px 0 0 0 ;
  color : #333;
  border : none;
  
  }
  
  .foo {
   
    display: block;
    max-width: 235px;
    float: left;
    height: auto ;
    margin: 0px
  }
  
  .rightDiv{
   
    position: relative;
    min-height:50px;
     float: left;
  }

  .sectionattr{
    display: inline-block;
    width: 100%;
   margin-left: 20px ; 
    border-radius : 4px
  }
  
  .ulattr{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 ;
    width: 100%;
  }
  
  .divForImage{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 180px;
    
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius : 3px
  }
  
  .imageAttr{
    width: 150px;
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .liAttr{
    padding: 20px;
    
    background-color: white ;
    min-width: 900px ;
    margin-bottom: 10px
  }

  .textColorBlack{
    color : #333; 
  }

  .displayNone{
    display: none
  }

  .content-section{
    margin-left: 30px ;
    margin-right: 30px
  }
  
  .addProductDiv{
    
    margin-left: 235px ;
    max-width: 800px;
  }

  .addProductChildDiv{
    margin-left: 20px ;
    background-color: white ;
    padding-top: 20px ;
    padding-bottom: 20px ;

  }

  .outline{
   
    margin-top: 15px
  }


  .margin30{
    margin-left: 15px ;
    margin-top: 45px
  }

  .divForLiveAuctionimageAttr{
    width: 25%;
    min-width: 350px;
    height: available;
    float: left;
    border-collapse: collapse;
  }

  .divForLiveAuctionImage{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForAuctionInfo{
    width: 50%;
    min-width: 600px;
    height: available;
    min-height: 400px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForGraph{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: right;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForRemainingLots{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 110px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForBidOption{
    width: 50%;
    min-width: 600px;
    height: available;
    min-height: 110px;
    float: left;
    border: 1px solid #ddd;
    border-radius : 3px
  }
  .divForMetrix{
    width: 25%;
    min-width: 350px;
    height: available;
    min-height: 110px;
    float: right;
    border: 1px solid #ddd;
    border-radius : 3px
  }

  .PutOnAuctionDiv{
    margin-left: 250px ; 
    background-color : white;
  }


  